<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VirastyarWordAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VirastyarWordAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <VirastyarWordAddin.Properties.Settings>
      <setting name="SpellChecker_UserDictionaryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SpellChecker_EditDistance" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SpellChecker_MaxSuggestions" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="SpellChecker_CustomDictionaries" serializeAs="String">
        <value />
      </setting>
      <setting name="SpellChecker_CustomDictionariesSelectionFlag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SpellChecker_CustomDictionariesDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="SpellChecker_MainDictionaryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SpellChecker_MainDictionarySelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreprocessSpell_CorrectPostfix" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreprocessSpell_CorrectPrefix" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreprocessSpell_CorrectBe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RefineCategoriesFlag" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="RefineHalfSpacePositioning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RefineNormalizeHeYe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefineLongHeYeToShort" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefineShortHeYeToLong" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefineIgnoreListConcated" serializeAs="String">
        <value />
      </setting>
      <setting name="WordCompletionSugCount" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="WordCompletionCompleteWithoutHotKey" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WordCompletionMinWordLength" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WordCompletionInsertSpace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WordCompletionFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TipOfTheDayShowOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Updater_LastCheckedVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="LogReport_LastSentLog" serializeAs="String">
        <value>2011-01-01</value>
      </setting>
      <setting name="LogReport_AutomaticReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogReport_AutomaticReportInterval" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarCheckSpell_Action" serializeAs="String">
        <value>Shift + F7</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarCheckDates_Action" serializeAs="String">
        <value>Shift + F8</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarCheckNumbers_Action" serializeAs="String">
        <value>Shift + Control + F8</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarCheckPunctuation_Action" serializeAs="String">
        <value>Shift + F5</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarPinglishConvert_Action" serializeAs="String">
        <value>Shift + F6</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarRefineAllCharacters_Action" serializeAs="String">
        <value>Control + Alt + F7</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarPinglishConvertAll_Action" serializeAs="String">
        <value>Shift + Control + F6</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarPreCheckSpell_Action" serializeAs="String">
        <value>Shift + Control + F7</value>
      </setting>
      <setting name="Config_Shortcut_VirastyarCheckAllPunctuation_Action" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_Shortcut_VirastyarAddinSettings_Action" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_Shortcut_VirastyarAbout_Action" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_Shortcut_VirastyarAutoComplete_Action" serializeAs="String">
        <value>Shift + Control + Space</value>
      </setting>
      <setting name="InstallationGuid" serializeAs="String">
        <value />
      </setting>
      <setting name="Updater_LastShownVersion" serializeAs="String">
       <value />
       </setting>
      <setting name="LogReport_ConfirmationDone" serializeAs="String">
        <value>False</value>
      </setting>
    </VirastyarWordAddin.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <VirastyarWordAddin.Properties.Settings>
      <setting name="Updater_LatestVersionUrl" serializeAs="String">
        <value>http://www.virastyar.ir/LatestVersion.txt</value>
      </setting>
      <setting name="Updater_DownloadUrl" serializeAs="String">
        <value>http://www.virastyar.ir/min-download</value>
      </setting>
      <setting name="Updater_ChangeLogUrl" serializeAs="String">
        <value>http://www.virastyar.ir/ChangeLog.txt</value>
      </setting>
      <setting name="Updater_WhatsNewUrl" serializeAs="String">
        <value>http://www.virastyar.ir/WhatsNew.txt</value>
      </setting>
      <setting name="Updater_ReleaseNotesUrl" serializeAs="String">
        <value>http://www.virastyar.ir/ReleaseNotes.txt</value>
      </setting>
      <setting name="LogReport_Url" serializeAs="String">
        <value>http://www.virastyar.ir/log.php</value>
      </setting>
    </VirastyarWordAddin.Properties.Settings>
  </applicationSettings>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assemblyFile="VirastyarWordAddin.dll" />
    </extensions>
    <targets>
      <target name="VirastyarLogFile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}\Virastyar\Virastyar.log" encoding="UTF-8" keepFileOpen="false" createDirs="true">
        <layout xsi:type="XmlLayout" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="VirastyarLogFile" />
    </rules>
  </nlog>
</configuration>